.hidden {
   display: none;
}
.highlighted {
   background-color: #FFB886;		/* orange-tan (~light salmon) */
}
ul {
   list-style-type: none;
}
#subset_page {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0.2em;
    background-color:white;
    height: calc(100% - 0.4em); /* leave room for top & bottom padding */
}

#subset_page li, #subset_page .subset_page_header {
    white-space: nowrap;
}

p.subset_page_header {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
   margin-top: 10px;
   text-decoration: underline;
}
p.subset_page_header:hover,
ul.subset_page_content > li:hover,
p.placeholder:hover {
   background-color: #FFFF00;		/* yellow */
}

ul.subset_page_content {
   font-size: 12pt;
   margin: 0;
   margin-top: 0;
   padding: 0;
}

#subset-elements {
    background-color: #505050;
   border: none;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	/* gray mist */
   color: #ffffff;
   padding: 0px 16px 16px 16px;
}

/* Subset editor styling */
#subset-editor {
   font-size: 12pt;
   font-weight: bold;
   text-align: center;
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Gray mist */
}

#ssedit-content {
   background-color: #ECECEC;		/* nearly white (~white smoke) */
   margin: auto;
   border: 1px solid #BFBFBF;		/* ~silver */
   width: 500px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto auto 10em auto;
   grid-template-areas:
      "title title"
      "heading heading"
      "in-elements-heading not-in-elements-heading"
      "in-elements-list not-in-elements-list"
      "cancel-button ok-button";
}

#ssedit-title {
   grid-area: title;
   background-color: #D0D0D0 !important;	/* light gray */
   margin: 0 !important;
}
#ssedit-heading {
   grid-area: heading;
}
#ssedit-in-elements-heading {
   grid-area: in-elements-heading;
}
#ssedit-in-elements-list {
   grid-area: in-elements-list;
   margin: 0 2px 0 5px !important;
}
#ssedit-cancel-button {
   grid-area: cancel-button;
   margin: 5px 2px 5px 5px !important;
}
#ssedit-not-in-elements-heading {
   grid-area: not-in-elements-heading;
}
#ssedit-not-in-elements-list {
   grid-area: not-in-elements-list;
   margin: 0 5px 0 2px !important;
}
#ssedit-ok-button {
   grid-area: ok-button;
   margin: 5px 5px 5px 2px !important;
}
#ssedit-content > ul {
   background-color: #FFFFFF;		/* white */
   border: 1px solid #BFBFBF;		/* ~silver */
   text-align: left;
   font-weight: normal;
   overflow: auto;
   padding-left: 3px;
}
#ssedit-content > button {
   border: 1px solid #BFBFBF;		/* ~silver */
   font-size: inherit;
   font-weight: inherit;
}
#ssedit-content > * {
   background-color: #ECECEC;		/* nearly white (~white smoke) */
   margin: 2px;
}
