 sub, sup {
    font-size: 70%;
 }
 .hidden {
    display: none;
 }
 .highlighted {
    background-color: #b2d7ff;
 }
 ul {
    list-style-type: none;
 }

 p.subset_page_header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: underline;
 }
 p.subset_page_header:hover,
 ul.subset_page_content > li:hover,
 p.placeholder:hover {
    background-color: yellow;
 }

 ul.subset_page_content {
    font-size: 10pt;
    margin: 0;
    margin-top: 0;
    padding: 0;
 }

 ul.menu,
 ul.menu ul {
    background-color: #eeeeee;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: black;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
 }
 ul.menu a {
    color: black;
    text-decoration: none;
 }
 ul.menu ul {
    position: absolute;
    top: 0;
    visibility: hidden;
 }
 ul.menu li {
    position: relative;
 }
 ul.menu li:hover,
 ul.menu li:hover > a {
    color: white;
    background-color: rgba(0,90,220,0.6);
 }
 ul.menu li:hover > ul {
    visibility: visible;
 }

 ul.menu .menu-arrow:after {
    border-bottom: 8px solid transparent;
    border-left: 16px solid #a0a0a0;
    border-top: 8px solid transparent;
    content: '';
    float: right;
    height: 0;
    width: 0;
    position: relative;
 }

 ul.menu ul ul {
    overflow-y: auto;
 }

/* Subset editor styling */
 #subset_editor {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 #ssedit_content {
    background-color: #ececec;
    margin: auto;
    border: 1px solid #bfbfbf;
    width: 500px;
 }

 #ssedit_title {
    background: #d0d0d0;
    font-weight: lighter;
 }

 .ssedit_body {
    height: 200px;
    padding: 5px;
 }

 .ssedit_panel_container {
    width: 50%;
 }

 .ssedit_panel {
    height: 100%;
    background-color: white;
    border: 1px solid #bfbfbf;
    margin: 3px;
    text-align: left;
    font-weight: normal;
    overflow: auto;
 }

 .ssedit_list {
    margin-top: 0px;
    padding-left: 0px;
 }

 .ssedit_button {
    border: 1px solid #bfbfbf;
    margin: 3px;
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
 }
